<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>srvUsuario</servlet-name>
        <servlet-class>Controlador.srvUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MultipleUploadServlet</servlet-name>
        <servlet-class>sistema.controller.MultipleUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>sistema.controller.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersController</servlet-name>
        <servlet-class>sistema.controller.UsersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadDAO</servlet-name>
        <servlet-class>sistema.dao.UploadDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDao</servlet-name>
        <servlet-class>sistema.dao.UserDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>sistema.model.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Database</servlet-name>
        <servlet-class>sistema.util.Database</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>srvUsuario</servlet-name>
        <url-pattern>/srvUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MultipleUploadServlet</servlet-name>
        <url-pattern>/MultipleUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersController</servlet-name>
        <url-pattern>/UsersController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadDAO</servlet-name>
        <url-pattern>/UploadDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDao</servlet-name>
        <url-pattern>/UserDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Database</servlet-name>
        <url-pattern>/Database</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
</web-app>
